{% extends 'base.html.twig' %}

{% block title %} Criar Usuário {% endblock %}

    
{% block body %} 
    <div class="container-cadastro">
        <div class="signin-content">
            <div class="signin-form-cadastro">
                    <h2 class="form-title">Cadastrar usuário</h2>
                    <form method="POST" class="register-form" id="register-form">
                        <div class="form-group">
                            <label for="email"><i class="zmdi zmdi-email"></i></label>
                            <input type="email" name="email" id="email" placeholder="Email"/>
                        </div>
                        <div class="form-group">
                            <label for="pass"><i class="zmdi zmdi-lock"></i></label>
                            <input type="password" name="senha" id="senha" placeholder="Senha"/>
                        </div>
                        <div class="form-group">
                            <label for="re-pass"><i class="zmdi zmdi-lock-outline"></i></label>
                            <input type="password" name="re_pass" id="senha2" placeholder="Repita sua senha"/>
                        </div>
                        <div class="form-group form-button">
                            <button type="button" name="signup" id="myBtn" class="form-submit" value="Register">Cadastrar</button>
                        </div>
                    </form><br>
                    
                <div class="alert alert-danger" style="display: none">
                    <strong>Aviso!</strong><span></span>
                </div>

                <div class="alert alert-success" style="display: none">
                        <strong>Success!</strong><span></span>
                    </div>
            </div>
        </div>
    </div>
    <script>
        // PEGANDO OS VALORES DOS INPUTS
        var email = document.querySelector('#email');
        var senha = document.querySelector('#senha');
        var senha2 = document.querySelector('#senha2');

        document.getElementById("myBtn").addEventListener("click", function() {

            // SE AS SENHAS NÂO ESTIVEREM IGUAL O CADASTRO NAO ACONTECE
            if(senha.value != senha2.value) {
                document.querySelector('.alert-success').style.display = 'none';
                document.querySelector('.alert-danger').style.display = 'block';
                document.querySelector('.alert-danger span').innerText = ' As senhas não são identicas';
                return false;
            }else{
                // PEGANDO OS VALORES PARA ENVIAR PARA O CONTROLER
                let formData = new FormData();
                formData.append("email", email.value);
                formData.append("senha", senha.value);
                        
                fetch('/save/', {
                    method: 'POST', 
                    body: formData,
                })
                .then((response) => { return response.json();})
                .then((responseJson) => {
                    
                    // MONTA O BOX AVISANDO QUE O CADASTRO FOI EFETUADO
                    if(responseJson != '404') {
                        document.querySelector('.alert-danger').style.display = 'none';
                        document.querySelector('.alert-success').style.display = 'block';
                        document.querySelector('.alert-success span').innerText = ' Cadastro efetuado';
                    }

                    window.location = '/';
                    
                })
                .catch((error) => {
                    console.error(error);
                });
            }
        });
    </script>

{% endblock %}
