{% extends 'base.html.twig' %}
{% block body %}
    <div class="container-Home">
        <div>
            <h1>Descrição do Sample/Test</h1>
            <p>Teste realizado por Dionathan de Córdova<p><br>
            <h3> Vamos as peças do nosso cenário de Test </h3>

            <ul>
                {% for post in posts %}
                    {% if post.id == 5 %}
                        <br> <h3> Bonus: </h3>
                    {% endif %}
                <li><p class="lead">{{ post.id }} . {{post.nome}} <br> R: {{ post.done }}</p></li><br>
                {% endfor %}
            </ul>

            <p class="lead">Obrigado pela oportunidade de participar deste Teste. </p>
        </div>
    </div>

{% endblock %}