{% extends 'base.html.twig' %}
{% block body %}
    <div class="container-Home">
        <div>
            <h1>Descrição do Sample/Test</h1>
            <p>Teste realizado por Dionathan de Córdova<p><br>
            <h3> Vamos as peças do nosso cenário de Test </h3>

            <ul>
                {% for post in posts %}
                    {% if post.id == 5 %}
                        <br> <h3> Bonus: </h3>
                    {% endif %}
                <li><p class="lead">{{ post.id }} . {{post.nome}} <br> R: {{ post.done }}</p></li><br>
                {% endfor %}
            </ul>

            <h3> Referências: </h3>
                <p class="lead">
                <strong> Routes Symfony 4 </strong> - Utilizei essa fonte por não ter conhecimento de como funcionava as rotas no Symfony 4 <br> 
                ( https://www.youtube.com/watch?v=sT4dMKSA1-A&list=PL1sZ2OJpPmWZL_MulCSPC04uGi5KNLHun )
                </p><br>

                <p class="lead">
                <strong> Crud Doctrine </strong> - Utilizei essa fonte por não ter conhecimento de como funcionava o Doctrine <br> 
                ( https://www.youtube.com/watch?v=WVeE4SXIOwA )
                </p><br>

                <p class="lead">
                <strong> Documentação Twig </strong> - Utilizei essa fonte por não ter conhecimento de como funcionava o Twig <br> 
                ( https://twig.symfony.com/)
                </p><br>

                <p class="lead">
                <strong> NavBar  </strong> - Peguei um exemplo pronto do bootstrap. <br> 
                ( https://www.w3schools.com/bootstrap/bootstrap_navbar.asp )
                </p><br>

                <p class="lead">
                <strong> Formulários  </strong> - Peguei o forumulario bootstrap pronto usado pra cadastrar usuários e editar os dados dos mesmos. <br> 
                ( https://www.w3schools.com/bootstrap/bootstrap_forms.asp )
                </p><br>

                <p class="lead">
                <strong> Box Alert  </strong> - Peguei o código bootstrap pronto para fazer a mensagem de autenticação de senhas e emails <br> 
                ( https://www.w3schools.com/bootstrap/bootstrap_alerts.asp )
                </p><br>

                <p class="lead">
                <strong> Upload de imagem  </strong> - Peguei o código PHP de exemplo e coloquei em um dos métodos do controller UserController <br> 
                ( https://makitweb.com/how-to-upload-image-file-using-ajax-and-jquery/ )
                </p><br>

                <p class="lead">
                <strong> Style Button image Upload  </strong> - Peguei o código CSS pronto. <br> 
                ( https://jsfiddle.net/gabrieleromanato/mxq9R/ )
                </p><br>
            <br>
            
            <p class="lead">Obrigado pela oportunidade de participar deste Teste. </p>
        </div>
    </div>

{% endblock %}